<%= render 'shared/content_heading', title: "New Post" %>

<div class="well">
<%= form_for @post do |f| %>

<div class='control-group'>
<%= f.label :title %>
<%= f.text_field :title %><br />
</div>
<div class='control-group'>
    <%= f.label :url %>
 <%= f.text_field :url %><br />
</div>
<div class='control-group'>
      <%=   f.label 'Enter post' %>
 <%= f.text_area :description,  rows: 10  %><br />
</div>
<div class='control-group'>
 <%= f.label "User Name" %>
</div>

<%= f.submit "Create Post", class: 'btn btn-primary' %>
<% end %>

</div>

