<h4> This is a new post</h4>



<%= form_for @post do |f| %>

<%= f.label :title %>
<%= f.text_field :title %><br />
    <%= f.label :url %>
 <%= f.text_field :url %><br />
 <%= f.text_area :description %><br />

<%= f.submit "Create Post", class: 'btn btn-primary' %>
<% end %>



